#link-list
  - @references.each do |ref|
    .link{id: ref.id}
      %ol
        %li.title
          = h ref.title
        %li.url
          %a{href: ref.link.url, rel: 'tooltip', title: ref.link.url}
            = h ref.link.url
        %li.desc
          %i
            = h ref.description.truncate(255, omission: '...')
      %ol{id: "buttons-#{ref.id}", class: 'buttons', dataid: ref.id}
        %li
          %a{href: '#'} Mark read
        %li
          %a{id: 'delete-button', href: 'javascript:void(0)', class: 'critical'} DELETE
        %li{class: 'confirm', style: 'display:none;'}
          %span.question Are You Sure?
          %a{href: 'javascript:void(0)', class: 'no'} No
          %a{href: "/me/delete_link/#{ref.id}.js?page=#{(page = params[:page].to_i) == 0 ? 1 : page}", method: 'post', class: 'yes'} Yes
        %li.timestamp
          %span
            - if ref.created_at < 1.day.ago #if today
              = ref.created_at.to_s(:long)
            - else
              %abbr{class: 'timeago', title: ref.created_at}
  #pages
    =paginate(@references)
